.log{
    padding-left: 100px;
    padding-right:700px;
    padding-top: 50px;
}
.mb-3{
    color: rgb(38, 160, 117);
}
.logimg{
   padding-bottom: 400px;
   padding-left: 400px;
   padding-right: 300px;
}
.h1{
}